<!DOCTYPE html>
<html>
<head>
	<title>TODO LIST</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
</head>
<style type="text/css">
	td{
		padding:10px;
	}
	tr{
		width:100%;
		min-width:50vw;
	}
	th{
		padding-right:100px;
		text-align: left;
	}
	table{
	border: 1px solid #ddd;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
	}
	tr:hover{background-color:#f5f5f5}
</style>
<body>
<div ng-app="myApp" ng-controller="myCtrl" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="container form-group jumbotron">

	
	<table>
		<tr class="border">
			<th>SERIAL NO</th>
			<th>TASK</th>
			<th></th>
			<th></th>
		</tr>

		<tr ng-repeat="eachItem in todo" class="border">
			<td style="font-size: 14px; text-align: left" >{{eachItem.number}}</td>
			<td style="font-size: 14px; text-align: left" >{{eachItem.task}}</td>
			<td><button class="btn btn-info btn-md btn-group btn-group-justified" data-toggle="modal" data-target="#myModal2"  ng-click="showdata(eachItem);">update</button></td>
			<td><button class="btn btn-info btn-md btn-group btn-group-justified" ng-click="deletetodo(eachItem._id)">delete</button></td>
		</tr>
	</table>
</div>

<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Todo</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="updatetodo()">
          
  			<div class="form-group">
   				 <label >Enter ID</label>
    			<input type="text" class="form-control" placeholder="ID" name="id"  ng-required="true" ng-model="todo2.number">
  			</div>
  			<div class="form-group">
    			<label >Enter Task</label>
    			<input type="text" class="form-control"  placeholder="TASK" name="task" ng-required="true" ng-model="todo2.task">
  			</div>
  			
  			<button type="submit" name="submit" class="btn btn-default" value="PUT">Submit</button>
  			
		</form>
	 	</div>
      </div> 
    </div>
  </div>  
	<div class="container">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add todo</button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Todo</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="submittodo()">
  			<div class="form-group">
   				 <label >Enter ID</label>
    			<input type="text" class="form-control"  placeholder="ID" name="ID" ng-required="true" ng-model="todo1.number">
  			</div>
  			<div class="form-group">
    			<label >Enter Task</label>
    			<input type="text" class="form-control"  placeholder="TASK" name="task" ng-required="true" ng-model="todo1.task">
  			</div>
  			
  			<button type="submit" name="submit" class="btn btn-default" value="POST" >Submit</button>
		</form>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-cookies.js"></script>
<script>
	var app = angular.module('myApp', ['ngRoute','ngCookies']);
	app.config(['$qProvider', function ($qProvider) {
    $qProvider.errorOnUnhandledRejections(false);
}]);
app.controller('myCtrl',['$scope','$window','$http','$location','$routeParams','$rootScope','$cookies',function($scope, $window,$http,$location,$routeParams,$rootScope,$cookies){

    $scope.submittodo=function(){
        $http.post('http://localhost:3000/posttodo',$scope.todo1).then(function successCallback(response){
        	console.log(response.data.token);
        	$window.localStorage.setItem('token',response.data.token);
        	$cookies.put('token',response.data.token);
        });
            $window.location.reload();
         alert('Task Added');
    };

    $http.get('http://localhost:3000/gettodo').then(function successCallback(response) {
        $scope.todo=response.data;
  	},
	  function errorCallback(response) {
	      alert(response);
	  });
    $scope.deletetodo=function(id){
    	console.log(id);
    	$http.delete('http://localhost:3000/deletetodo/'+id).then(function(response){
    		console.log(response);
    		$window.location.reload();
    	});
    };
    $scope.updatetodo = function(){
		var id = $rootScope.data;
		console.log(id);
		console.log($scope.todo2);
		$http.put('http://localhost:3000/updatetodo/'+ id , $scope.todo2).then(function(response){4

			$window.location.reload();

		});
	};
	$scope.showdata=function(x){
		
		$rootScope.data=x._id;
	}

}]);
</script>
</body>
</html>